.test {
    font-size: 109px;
}

.Card {
    width: 85px;
    height: 115px;
    float: left;
    text-align: center;
    position: relative;
    margin: 5px;
}

.bg {
    width: 85px;
    height: 115px;
    color: yellow;
}

.img{
    width: 85px;
    height: 115px;
    float: left;
    text-align: center;
    position: relative;
    margin: 5px;
}
}